<html>
    <head>
        <title>Glenda's blog</title>
    </head>

    <body>
      <div>
        <h1><a href=""> Glenda Pinho </a></h1>
      </div>

      <div>
        <p>published: 10.13.2016, 07:01</p>
        <h2><a href="#">My first post</a></h2>
        <p> Reflexao diaria. Comece seu dia com uma boa leitura</p>
      </div>

      <div>
        <p>published: 10.13.2016, 07:04</p>
        <h2><a href="#">My second post</a></h2>
        <p>Reflexao do dia.... leia e medite nesta mensagem bonita</p>

      </div>

    </body>

</html>
